<div dir="rtl">
    
### מלאו את הקובץ ושלחו לרז

   - **ניתן למלא באנגלית או עברית**
   - **מומלץ להשתמש בהמשך באותו הקובץ להגשת הפרויקט (מיחקו את התא הזה)**
   - **הקפידו למלא טקסט בשדות מסוג מארק-דאון וקוד בשדות מסוג קוד (אחרת ירדו לכם נקודות)**
     
###   מלאו את כל הסעיפים. הניקוד ינתן באופן הבא:
- **שם הפרויקט (3-4 מילים) - 5 נקודות** 
- **שמות מלאים של כל חברי הצוות, ללא ת.ז - 5 נקודות**
- **תיאור הפרויקט (3-4 משפטים) - 10 נקודות**
- **קישור למקור ממנו הורדתם את הנתונים - 10 נקודות**
- **קריאת הקובץ מהגיטהאב שלכם - 10 נקודות**
- **הסבר על מקור הנתונים - 10 נקודות**
- **תיאור קצר של הדאטה בעזרת הפקודות שנלמדו בקורס - 20 נקודות**
- **שלוש שאלות ראשוניות של דברים שהיה מעניין אתכם להוציא מהקובץ - 30 נקודות**
#### בהצלחה !
</div>

# Project Name: `correlation between education and career`

### Project team members: 
- `Eden halal`
- `Aharon sagir`
- `Yair yahud`

### Project number: <insert here>
`20`

### Project description: 
`הקובץ מכיל נתונים על קריירה של עובדים והצלחתם בשוק העבודה, תוך התמקדות בקשרים בין סוגי ההשכלה שהשיגו לבין הצלחתם המקצועית. המידע שבקובץ כולל פרטים על מקצועותיהם של העובדים, רמות השכר שלהם, רמות ההשכלה (תיכון, אקדמאי, תארים נוספים), גילם, מגדרם, תחום העיסוק ועוד`

### Link to the data: 
[our link](https://www.kaggle.com/datasets/mahad049/job-placement-dataset/data)

### Explain the data source:
`it was generated using data from real-world education and career trends.`

----

#### Read you file from Github:

In [2]:
import pandas as pd

url = 'https://raw.githubusercontent.com/aharon429/correlation-between-education-and-career/refs/heads/main/job_placement.csv'

success_df = pd.read_csv(url , encoding = 'ISO-8859-8')

success_df

,id,name,gender,age,degree,stream,college_name,placement_status,salary,gpa,years_of_experience
0,1,John Doe,Male,25,Bachelor's,Computer Science,Harvard University,Placed,60000,3.7,2.0
1,2,Jane Smith,Female,24,Bachelor's,Electrical Engineering,Massachusetts Institute of Technology,Placed,65000,3.6,1.0
2,3,Michael Johnson,Male,26,Bachelor's,Mechanical Engineering,Stanford University,Placed,58000,3.8,3.0
3,4,Emily Davis,Female,23,Bachelor's,Information Technology,Yale University,Not Placed,0,3.5,2.0
4,5,David Brown,Male,24,Bachelor's,Computer Science,Princeton University,Placed,62000,3.9,2.0
...,...,...,...,...,...,...,...,...,...,...,...
695,696,Lucas Taylor,Male,23,Bachelor's,Computer Science,University of Washington,Placed,67000,3.8,3.0
696,697,Emma Martinez,Female,26,Bachelor's,Electronics and Communication,University of California--Berkeley,Placed,66000,3.9,3.0
697,698,Aiden Davis,Male,24,Bachelor's,Computer Science,University of Illinois--Urbana-Champaign,Placed,65000,3.8,3.0
698,699,Mia Wilson,Female,23,Bachelor's,Electrical Engineering,University of Colorado--Boulder,Placed,66000,3.7,2.0
699,700,Jack Garcia,Male,26,Bachelor's,Information Technology,University of North Carolina--Chapel Hill,Not Placed,0,3.6,1.0

#### Describe the data
* How many rows?
* How many columns?
* How many numeric columns? (not including numerical identifiers - numbers that uniquely define the row)
* How many categorical columns? (not including string identifiers -  values that uniquely define the row)

In [12]:
rows = 700

In [13]:
columns = 11

In [14]:
numeric_rows = 5
categorical_columns = 5

#### Write three questions you would like to answer using this data

1. `?האם השכלה גבוהה משפיעה על ההצלחה בשוק העבודה`

2. `?האם ציוני בית ספר מעידים על הסיכויים של האדם להצליח בעתיד`

3. ` ?האם ללמוד במוסד יותר 'נחשב' משפיע על המשכורת ההתחלתית שלו`

<div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
  <span style="color: red;"><strong>— Do not proceed beyond this point. This is for the next steps, do not fill in —</strong></span>
</div>

---
### <span style="color:green"> Observation 1:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Observation 2:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Observation 3:</span>

>
> 
>
> 


---

---
### <span style="color:green"> Summary</span>

> Anything you'd like to say - your conclusions, summary, how hard you worked etc.
> 
>    
>   
   

---